<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="course1._0.Properties.Settings.myDB" connectionString="Data Source=WIN-OL50286AMSI;Initial Catalog=myCreatePO_project;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="contextstudent" connectionString="data source=DESKTOP-R8ERABI\SQLEXPRESS;initial catalog=course1._0.contextstudent;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="myCreatePO_projectEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-R8ERABI\SQLEXPRESS;initial catalog=myCreatePO_project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="myCreatePO" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-R8ERABI\SQLEXPRESS;initial catalog=myCreatePO_project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="myCreatePO_projectEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-R8ERABI\SQLEXPRESS;initial catalog=myCreatePO_project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="myCreatePO_Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-JKLK7J30UNT\SQLEXPRESS;initial catalog=myCreatePO_project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="myCreatePO_projectEntities2" connectionString="metadata=res://*/Model_Entity.csdl|res://*/Model_Entity.ssdl|res://*/Model_Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-JKLK7J30UNT\SQLEXPRESS;initial catalog=myCreatePO_project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="course1._0.Properties.Settings.myCreatePO_projectConnectionString"
      connectionString="Data Source=WIN-OL50286AMSI;Initial Catalog=myCreatePO_project;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>